body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.login, .register, .configuration {
  width: 500px;
  margin: 0 auto;
  font-size: 15px;
  margin-top: 50px;
}


.login h1, .register h1, .configuration h1 {
  text-align: center;
  color: #666;
  font-size: 40px;
  margin-bottom: 50px;
}

.login input, .register input, .configuration input {
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
}

.login button, .register button, .configuration button {
  width: 100%;
  height: 50px;
  border: 0;
  background: #069;
  color: #fff;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
}

.login button:hover, .register button:hover, .configuration button:hover {
  background: #09c;
}

